<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268611833795-6h3c4qvhirc8i7gu3bigbkl7u51ai213.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268611833795-6h3c4qvhirc8i7gu3bigbkl7u51ai213</string>
	<key>API_KEY</key>
	<string>AIzaSyD8K9c_twhtDtL2KpxtzN0iuX-zoeyRdX8</string>
	<key>GCM_SENDER_ID</key>
	<string>268611833795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsmontreal.gotgame</string>
	<key>PROJECT_ID</key>
	<string>gotgame-10f4a</string>
	<key>STORAGE_BUCKET</key>
	<string>gotgame-10f4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268611833795:ios:ad0b54e3af142e33</string>
	<key>DATABASE_URL</key>
	<string>https://gotgame-10f4a.firebaseio.com</string>
</dict>
</plist>